*{
    box-sizing: border-box;
}
/* header*/
.hero {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    position: relative;
    z-index: 1;
}
/*navigasi*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo h1 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.navbar a.active {
    border-bottom: 2px solid black;
}
.navbar .dropdown {
    position: relative;
}
.navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.navbar .dropdown-menu li {
    padding: 10px 20px;
}
.navbar .dropdown-menu li a {
    color: #111;
    text-decoration: none;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
}
/*search bar*/
#searchForm input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#searchForm button {
    border: none;
    background: none;
    cursor: pointer;
}
.essence {
    text-align: center;
    padding: 50px 80px;
    background-color: #fff;
    margin-top: -40px;
}
#toggleSidebar {
    position: fixed;
    top: 33px;
    right: 20px;
    font-size: 26px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.3s ease
}
#toggleSidebar:hover {
    transform: scale(1.1);
}

/*sidebar*/
#sidebar {
    position: fixed;
    top: 0;
    right: -280px;
    width: 260px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.4s ease;
    z-index: 1000;
    overflow-y: auto;
}
#sidebar.active {
    right: 0;
}
#sidebar h3 {
    font-weight: 600;
    border-left: 3px solid #c0a062;
    padding-left: 6px;
    margin-top: 20px;
}
#sidebar p {
    margin: 8px 0;
    color: #333;
}
.widget {
    margin-top: 25px;
}
.widget h3 {
    margin-bottom: 8px;
    color: #333;
    border-left: 4px solid #c8a27c;
    padding-left: 6px;
    font-size: 17px;
}
#clock {
    font-size: 20px;
    font-weight: 500;
    color: #444; 
}
.profile-img {
    width: 100%;
    margin-bottom: 10px;
}
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar ::-webkit-scrollbar-thumb {
    background-color: #c8a27c;
}

/* profil singkat Éclaté*/
.brand-intro {
    background-color: #fff;
    color: #111;
    text-align: center;
    padding: 120px 100px;
    font-family: 'Playfair Display', serif;
}
.brand-intro h2 {
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
}
.brand-intro p {
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto 40px;
    line-height: 1.8;
    color: #444;
}
.explore-btn {
    display: inline-block;
    text-decoration: none;
    color: #111;
    border: 1px solid #111;
    padding: 10px 30px;
    letter-spacing: 1px;
    transition: all 0.3 ease;
}
.explore-btn:hover {
    background-color: #111;
    color: #fff;
}
.essence h2 {
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}
.essence-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}
.item p {
    font-size: 17px;
    color: #111;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

/* artikel*/
.article-section {
    text-align: center;
    padding: 30px 60px;
    background-color: #fff;
}
.article-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #111;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.article-card {
    background-color: #fdfaf7;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}
.article-card img {
    width: 100%;
    margin-bottom: 20px;
}
.article-card h3 {
    font-size: 18px;
    color: #3a2e2e;
    margin-bottom: 10px;
}
.article-card p {
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}
.article-card .read-more {
    color: #3a2e2e;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s;
}
.article-card .read-more:hover {
    color: #3a2e2e;
}
.article-card a.read-more:visited {
    color: #3a2e2e;
}
.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/*announcement*/
.announcement {
    text-align: center;
    padding: 30px 60px;
    background-color: #fff;
}
.announcement h2 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-bottom: 60px;
    letter-spacing: 1px;
    color: #111;
}
.announcement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.announcement-card {
    background-color: #fdfaf7;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}
.announcement-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}
.announcement-content {
    padding: 25px;
}
.announcement-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2a2a2a;
}
.announcement-content p {
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.announcement-content a {
    text-decoration: none;
    color: #111;
    border: 1px solid #111;
    padding: 8px 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.announcement-content a:hover {
    background-color: #111;
    color: #fff;
}
.announcement-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

/*footer*/
.footer {
    background-color: #111;
    padding: 50px 0;
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #fff;
}
.footer h3 {
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 40px;
}
.footer-icons {
    margin-bottom: 25px;
}
.footer-icons a {
    margin: 0 10px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-icons a:hover {
    color: #fff;
}
.footer p {
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

/*about page*/
section {
    padding: 60px 30px;
    text-align: center;
}
section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #111;
    line-height: 1.7;
    max-width: 900px;
    margin: 0 auto 20px;
}
section p strong {
    font-family: 'Playfair Display', serif;
    color: #111;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin:0 auto;
    width: 90%;
}
.about-image img {
    width: 300px;
    height: auto;
    object-fit: cover;
}
.about-text {
    max-width: 600px;
    text-align: center;
        }
.about-text h2 {
    font-size: 70px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}
.heritage-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 40px;
    gap: 20px;
}
.heritage-container.reverse{
    flex-direction: row-reverse;
}
.heritage-image img {
    width: 300px;
    height: auto;
    flex: 1;
}
.heritage-text {
    text-align: left;
    flex: 1;
}

/*visi misi*/
.vision-grid {
    display: grid;
    gap: 40px;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.vision-grid h3 {
    font-size: 16px;
    color: #111;
    line-height: 1.7;
}
.vision-grid p {
    font-size: 16px;
    color: #111;
    line-height: 1.7;
}

/*our team*/
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.team-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}
.team-card h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    font-size: 20px;
}
.team-card p {
    font-size: 14px;
    color: #111;
}
.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.015);
}
.team-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}
.team-card:hover img {
    transform: scale(1.03);
}

/*galeri page*/
body{
    font-family: 'Playfair Display', serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
.collection-full{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 0;
    padding: 0;
}
.collection-full a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.collection-full img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    z-index: 1;
}
.collection-full img:hover {
    filter: brightness(80%);
}

.her-section {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url(images/her2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    box-sizing: border-box;
}
.her-overlay {
    text-align: center;
    color: white;
    padding: 40px;
    transform: translateY(-50px);
}
.her-overlay h1 {
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    font-weight: 500;
}
.her-overlay p {
    font-size: 18px;
    font-style: italic;
    font-family: "Didot", serif;
}
.him-section {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url(images/him.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    box-sizing: border-box;
}
.him-overlay {
    text-align: center;
    color: white;
    padding: 40px;
    transform: translateY(-50px);
}
.him-overlay h1 {
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    font-weight: 500;
}
.him-overlay p {
    font-size: 18px;
    font-style: italic;
    font-family: "Didot", serif;
}
.collection-section {
    text-align: center;
    padding: 100px 5%;
    background-color: #faf9f7;
}
.collection-text h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: "Didot", serif;
    letter-spacing: 2px;
}
.collection-text p {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 60px;
    font-style: italic;
}
.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.product img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    transition: all 0.3s ease;
}
.product img:hover {
    filter: brightness(90%)
}
.product h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    color: #222;
    font-family: "Didot", serif;
}
.product p {
    color: #666;
    font-size: 15px;
    margin-top: 5px;
}
section {
    padding: 60px 30px;
    text-align: center;
}
section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #111;
    line-height: 1.7;
    max-width: 900px;
    margin: 0 auto 20px;
}
section p strong {
    font-family: 'Playfair Display', serif;
    color: #111;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin:0 auto;
    width: 90%;
}
.item-container img {
    width: 300px;
    height: auto;
    object-fit: cover;
}
.item-text {
    max-width: 600px;
    text-align: center;
}
.item-text h2 {
    font-size: 70px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}

/* regist page*/
.register-container {
    background-image: url(images/hr.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}
.register-box {
    background-color: #ccc;
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 50px 40px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.register-box h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.register-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.register-form label {
    font-weight: 500;
    font-size: 14px;
    color: #222;
}
.register-form input,
.register-form select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}
.register-form input:focus,
.register-form select:focus {
    border-color: #000;
    outline: none;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}
.btn-register {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 12px 0;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    border-radius: 8px;
    margin-top: 10px;
}
.btn-register:hover {
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}

/*contact page*/
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 10%;
    background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.95)),
    url(images/headerregist.jpg) center/cover no-repeat;
    min-height: 100vh;
    box-sizing: border-box;
}
.contact-info {
    flex: 1;
    max-width: 450px;
    color: #111;
}
.contact-info h2 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.contact-info p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}
.contact-details p {
    font-size: 15px;
    color: #333;
    margin: 10px 0;
}
.contact-details i {
    margin-right: 10px;
    color: #111;
}
.social-icons {
    margin-top: 25px;
}
.social-icons a {
    font-size: 20px;
    margin-right: 20px;
    color: #111;
    transition: 0.3s ease;
}
.social-icons a:hover {
    color: #777;
}
.contact-form {
    flex: 1;
    max-width: 500px;
    background-color: #fdfaf7;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form label {
    font-weight: 500;
    font-size: 14px;
    color: #222;
}
.contact-form input,
.contact-form textarea {
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    transition: 0.3s;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #111;
    outline: none;
}
.btn-send {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 14px 0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-send:hover {
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}
